<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
    
    <div class="form-group" style="text-align: center;" id="resultt">
        <form name="form1">
            <textarea class="form-input" name="mensaje" onKeyDown="cuenta(this.form.mensaje, 140);" onKeyUp="cuenta(this.form.mensaje, 140);"></textarea>
            <h4 class="example"></h3>
            <button type="button" onclick="enviarPost()">Post</button>
        </form>
    </div>
    <script src="script.js"></script>

    <div style=" position: absolute; left: 40%; width: 100%;" id="res">
        
    </div>   
   
   <script async src="ajax.js" charset="utf-8"></script>
   <script src="script.js"></script>
   <link href="feed.css" rel="stylesheet">

</body>
</html>