<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="feed.css" rel="stylesheet">
    
    <title>Feed</title>
</head>
<body>
   
   <div class="container">
      <div class="section">
         <button id="boton" onclick="traerDatos()">boton</button>

         <table>
            <thead>
               <tr>
                  <th>Contenido</th>
                  <th>Fecha</th>
               </tr>
            </thead>
            <tbody id="res">

            </tbody>
         </table>
      </div>
   </div>
   
   <script async src="ajax.js" charset="utf-8"></script>

</body>
</html>