<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;" id="resultt">
        <form name="form1">
            <textarea style="width: 30%; height: 100px;" name="mensaje" onKeyDown="cuenta(this.form.mensaje, 140);" onKeyUp="cuenta(this.form.mensaje, 140);"></textarea>
            <h3 class="example"></h3>
            <button type="button" onclick="enviarPost()">Post</button>
        </form>

    </div>
    <script src="script.js"></script>
    <div>

    </div>

</body>

</html>